@import "daisyui/dist/full.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar {
  background-color: #145bc5c0 !important;
  top: 95% !important;
  height: 5px !important;
  width: 60% !important;
  margin-left: 4px !important;
}
.swiper-pagination-progressbar-fill {
  background-color: white !important;
}
